@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {
  overflow-x: hidden;
}

.map {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: transform 0.5s ease-in-out;
  z-index: 999;
}

.close-map {
  animation: closeMap 1s forwards;
}

.open-map {
  animation: openMap 1s forwards;
}

.map .toggle-map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 1.3rem;
  background-color: #fff;
  color: #003f5c;
  cursor: pointer;
}

.ag-canvas {
  background-color: #fff;
  width: 350px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.ag-canvas_svg {
  width: 100%;
  height: 100%;
}

.ag-canvas_svg path {
  fill: #003f5c;
  fill-opacity: 1;
  stroke: #fff;
  stroke-opacity: 1;
  stroke-width: 2.5;
  transition: .3s;
  cursor: pointer;
}

.ag-canvas_svg path:hover {
  fill: #16688e;
}

.ag-canvas_svg .selected {
  fill: #ba3a3a;
  animation: brightness .8s ease-in-out infinite alternate;
  transition: fill 0.5s ease;
}

.tooltip {
  position: absolute;
  font-size: .8rem;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
}

/* Estilizar o contêiner das bolinhas */
.slick-dots {
  position: absolute !important;
  bottom: 10% !important;
  width: 100% !important;
}

/* Estilizar cada bolinha */
.slick-dot {
  width: 20px !important;
  height: 20px !important;
  margin: 0 6px !important;
  background-color: rgba(187, 61, 61, 0.5) !important;
  border-radius: 50% !important;
  transition: background-color 0.3s ease !important;
}

/* Estilizar a bolinha ativa */
.slick-dot.slick-active {
  background-color: #ff5733 !important;
}

@keyframes brightness {
  0% {
    fill: #ba3a3a;
    filter: brightness(1);
  }

  50% {
    fill: #e06666;
    filter: brightness(1.2);
  }

  100% {
    fill: #ba3a3a;
    filter: brightness(1);
  }
}

@keyframes closeMap {
  0% {
    width: 350px;
  }
  100% {
    width: 0px;
  }
}

@keyframes openMap {
  0% {
    width: 0px;
  }
  100% {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .hide-map {
    width: 0px;
  }

  .ag-canvas {
    width: 250px;
    height: 160px;
  }

  .map .toggle-map {
    width: 50px;
    height: 40px;
    font-size: 1rem;
  }

  .tooltip {
    font-size: .6rem;
  }

  @keyframes closeMap {
    0% {
      width: 250px;
    }
    100% {
      width: 0px;
    }
  }
  
  @keyframes openMap {
    0% {
      width: 0px;
    }
    100% {
      width: 250px;
    }
  }
}